@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins'); 

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul
{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
    
    font-size: 5vmin;
    background: black;
    min-height: 70px;
}
nav ul li
{
    padding: 2px 15px;
    
}
nav ul li a
{
    text-decoration: none;
    color: rgb(255 255 255);
}

header h1
{
    font-size: 15vmin;
    text-align: center;
    font-family: Dancing Script;

}
header h3
{
    text-align: center;
    font-size: 5vmin;
    margin-left:255px;
}
.container
{
    display: grid;
    grid-template-columns: 2fr  2fr;

}
.item
{
    border: 2px ;
    margin: 25px 15px;
    border-radius: 3%;
    box-shadow: 2px 7px 10px #888888;
    
}

.item p
{
font-family: Lobster;
font-family: Open Sans;
padding: 2px 15px;
padding-bottom: 15px;
}
.item9
{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: none;
}
.container img
{
    
    padding: 15px 0px;
    padding-left: 200px;
    width: 500px;
}
@media  only screen  and (max-width:850px){
    
.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container img
{
    
    padding: 15px 0px;
    /* padding-left: 70px; */
    max-width: 300px;
}

    .item1
    {
        grid-area: item1;
    }
    .item2
    {
        grid-area: item2;
    }
    .item3
    {
        grid-area: item3;
    }
    .item4
    {
        grid-area: item4;
    }
    .item5
    {
        grid-area: item5;
    }
    .item6
    {
        grid-area: item6;
    }
    .item7
    {
        grid-area: item7;
    }
    .item8
    {
        grid-area: item8;
    }
    .item9
    {
        grid-area: item9;
    }
    .container
    {
        grid-template-areas: 
        'item1 item1'
        'item2 item2'
        'item3 item3'
        'item4 item4'
        'item5 item5'
        'item6 item6'
        'item7 item7'
        'item8 item8'
        'item9 item9'

        ;
    }
}
@media only screen and (max-width:1024px) and (min-width:851px)
{
    .container img  
    {
    
        padding: 15px 0px;

        /* padding-left: 150px; */
        max-width: 300px;
    }
    .item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media  only screen  and (max-width:320px)
{
    header h3
    {
        margin-left: 200px;
    }
    .container img
    {
        
        padding: 15px 0px;
        /* padding-left: 70px; */
        max-width: 200px;
    }  
    .item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
